[user]
	name = Jakob Hellermann
	email = hellermann@sipgate.de

[advice]
	detachedHead = false

[include]
	path = .gitconfig.sipgate
[include]
	path = .gitconfig.gitteam

[includeIf "gitdir:~/.personal/"]
    path = ~/.personal/.gitconfig

[alias]
	ignore = update-index --skip-worktree
	unignore = update-index --no-skip-worktree
	ignored = !git ls-files -v | grep \"^S\"
	unstage = rm --cached
	add-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"

[pull]
	rebase = true

[diff "nodiff"]
	command = /bin/true

[core]
	excludesfile = ~/.gitignore
	quotepath = false
	autocrlf = input
	editor = nvim
	# hooksPath = /home/jakob/.git-team/hooks

[interactive]
    singlekey = true

[init]
	defaultBranch = main

[push]
	autoSetupRemote = true

[url "https://invent.kde.org/"]
	insteadOf = kde:
[url "ssh://git@invent.kde.org/"]
	pushInsteadOf = kde:

[team "alias"]
	mmonka = Markus Monka <mmonka@sipgate.de>
	mader = Christoph Mader <mader@sipgate.de>
	blunck = Tobias Blunck <blunck@sipgate.de>
	jaiser = Sigurd Jaiser <jaiser@sipgate.de>
	monka = Torsten Monka <monka@sipgate.de>
	fritsch = Udo Fritsch <fritsch@sipgate.de>
	karcher = Holger Karcher <karcher@sipgate.de>
	mois = Tim Mois <mois@sipgate.de>
	breil = Richard Breil <breil@sipgate.de>
	wilhelms = Bastian Wilhelms <wilhelms@sipgate.de>
	schmidt = Christian Schmidt <schmidt@sipgate.de>
	ritterbach = Tobias Ritterbach <ritterbach@sipgate.de>
	maisel = Moritz Maisel <maisel@sipgate.de>
	koningshoven = Frederik van Koningshoven <koningshoven@sipgate.de>
	goldmann = Jens Goldmann <goldmann@sipgate.de>
	salam = Pejman Salam <salam@sipgate.de>
	buekers = Jan Buekers <buekers@sipgate.de>
	kluck = Benjamin Kluck <kluck@sipgate.de>
	petermichl = Sascha Petermichl <petermichl@sipgate.de>
	becker = Dennis Becker <becker@sipgate.de>
	fenske = Daniel Fenske <fenske@sipgate.de>
	lange-hegermann = Stefan Lange-Hegermann <lange-hegermann@sipgate.de>
	hasenbeck = David Hasenbeck <hasenbeck@sipgate.de>
	paulisch = Frede Paulisch <paulisch@sipgate.de>
	zeyen = Oliver Zeyen <abw@sipgate.de>
	stojsin = Jovan Stojsin <stojsin@sipgate.de>
	boettner = Jonas Boettner <boettner@sipgate.de>
	neudert = Michael Neudert <neudert@sipgate.de>
	dialogika = Dialogika Consultant <dialogika@sipgate.de>
	zettl = Tobias Zettl <zettl@sipgate.de>
	topeters = Axel Topeters <topeters@sipgate.de>
	kohles = Hans-Georg Kohles <kohles@sipgate.de>
	errath = Errath Stefan <errath@sipgate.de>
	knuth = Karsten Knuth <knuth@sipgate.de>
	salmon = Thilo Salmon <salmon@sipgate.de>
	steinborn = Frank Steinborn <steinborn@sipgate.de>
	diggler = Dirk Diggler Replication Zwei <diggler@sipgate.de>
	andris = Sven Andris <andris@sipgate.de>
	pinekenstein = Alexander Pinekenstein <pinekenstein@sipgate.de>
	hejniak = Lukas Hejniak <hejniak@sipgate.de>
	seifert = Sebastian Seifert <seifert@sipgate.de>
	klein = Dominik Klein <klein@sipgate.de>
	vinzens = Joeran Vinzens <vinzens@sipgate.de>
	bott = Rudolph Bott <bott@sipgate.de>
	koehler = Paul Koehler <koehler@sipgate.de>
	consul02 = Externer Consultant 02 <consul02@sipgate.de>
	consul03 = Externer Consultant 03 <consul03@sipgate.de>
	bronkalla = Peter Bronkalla <bronkalla@sipgate.de>
	reinecke = Michael Reinecke <reinecke@sipgate.de>
	wojciak = Martin Wojciak <wojciak@sipgate.de>
	musil = Clemens von Musil <musil@sipgate.de>
	anh = Thu Pakasathanan <huynhanh@sipgate.de>
	wolf = Jennifer Wolf <wolf@sipgate.de>
	oezcan = Tugba Oezcan <oezcan@sipgate.de>
	jaegen = Karl Jaegen <jaegen@sipgate.de>
	kklein = Kurt Klein <kklein@sipgate.de>
	dickel = Krischan Dickel <dickel@sipgate.de>
	feld = Friederike Feld <feld@sipgate.de>
	chipdrivedata = Chipdrive Data User fuer Samba <technik@sipgate.de>
	steinbeck = Marina Steinbeck <steinbeck@sipgate.de>
	knabben = Claudia Knabben <knabben@sipgate.de>
	hoeffken = Dirk Hoeffken <hoeffken@sipgate.de>
	duerr = Matthias Duerr <duerr@sipgate.de>
	menzel = Frank Menzel <menzel@sipgate.de>
	schmerwitz = Daniel Schmerwitz <schmerwitz@sipgate.de>
	jlange-hegermann = Johanna Lange-Hegermann <jlange-hegermann@sipgate.de>
	rahemipour = Jacqueline Rahemipour <rahemipour@sipgate.de>
	aknn15to16 = AKNN15 to16 <aknn15to16@sipgate.de>
	wick = Eugen Wick <wick@sipgate.de>
	arens = Martin Arens <arens@sipgate.de>
	mueller = Anna Mueller <mueller@sipgate.de>
	tleo = Tristan Leo <tleo@sipgate.de>
	wegener = Mathias Wegener <wegener@sipgate.de>
	theissen = Lina Theissen <theissen@sipgate.de>
	vogel = Christin Vogel <vogel@sipgate.de>
	maus = Laura Maus <maus@sipgate.de>
	christensen = Percy Christensen <christensen@sipgate.de>
	dohmen = Phillip Dohmen <dohmen@sipgate.de>
	voipfuture = voipfuture <voipfuture@sipgate.de>
	waberg = Henning Waberg <waberg@sipgate.de>
	kleinebrahm = Philipp Kleinebrahm <kleinebrahm@sipgate.de>
	mellor = Marcel Mellor <mellor@sipgate.de>
	moesenthin = Peter Moesenthin <moesenthin@sipgate.de>
	schafmeister = Christian Schafmeister <schafmeister@sipgate.de>
	szigat = Timm Szigat <szigat@sipgate.de>
	jenkins-ro = Readonly Jenkins <jenkins-ro@sipgate.de>
	schimmelschulze = Andreas Schimmelschulze <schimmelschulze@sipgate.de>
	groth = Ashley Groth <groth@sipgate.de>
	janke = Tim Janke <janke@sipgate.de>
	visser = Anna-Carina Visser <visser@sipgate.de>
	waite = Robert Waite <waite@sipgate.de>
	potthoff = Florian Potthoff <potthoff@sipgate.de>
	dunbar = Andrew Dunbar <dunbar@sipgate.de>
	loehe = Marc Loehe <loehe@sipgate.de>
	kamailio-support = Kamailio Support <kamailio-support@sipgate.de>
	mritterbach = Max Ritterbach <mritterbach@sipgate.de>
	buerger = Sonja Buerger <buerger@sipgate.de>
	freyther = Holger Freyther <freyther@sipgate.de>
	heinze = Pia Heinze <heinze@sipgate.de>
	vogt = Alexander Vogt <vogt@sipgate.de>
	hemmann = Caroline Hemmann <hemmann@sipgate.de>
	brembt = Beatrice Brembt <brembt@sipgate.de>
	honta = Dima Honta <honta@sipgate.de>
	luecke = Philipp Luecke <luecke@sipgate.de>
	ingenweyen = Michelle Ingenweyen <zongo@sipgate.de>
	netuse = netuse <netuse@sipgate.de>
	orlowski = Daniel Orlowski <orlowski@sipgate.de>
	albertz = Florian Albertz <albertz@sipgate.de>
	haas = Philip Haas <haas@sipgate.de>
	franz-miksa = Bjoern Franz-Miksa <franz-miksa@sipgate.de>
	lebugle = Michel Lebugle <lebugle@sipgate.de>
	tensi = Marianna Tensi <tensi@sipgate.de>
	schwarz = Melanie Schwarz <schwarz@sipgate.de>
	gladisch = Felix Gladisch <gladisch@sipgate.de>
	ziegler = Simon Ziegler <ziegler@sipgate.de>
	hempel = Patrick Hempel <hempel@sipgate.de>
	kirchhoff = Astrid Kirchhoff <kirchhoff@sipgate.de>
	schoenfeld = Sebastian Schoenfeld <schoenfeld@sipgate.de>
	tressel = Tim Tressel <tressel@sipgate.de>
	jacobs = Jan-Lukas Jacobs <jacobs@sipgate.de>
	meyer = Fabian Meyer <meyer@sipgate.de>
	nolte = Sebastian Nolte <nolte@sipgate.de>
	schneider = Torsten Schneider <schneider@sipgate.de>
	baumeister = Julia Baumeister <baumeister@sipgate.de>
	wegner = Oliver Wegner <wegner@sipgate.de>
	sastges = Maya Sastges <sastges@sipgate.de>
	fbrandt = Florian Brandt <fbrandt@sipgate.de>
	kubiak = Simon Kubiak <kubiak@sipgate.de>
	hagedorn = Susanne Hagedorn <hagedorn@sipgate.de>
	brinke = Jasmina Brinke <brinke@sipgate.de>
	ranftler = David Ranftler <ranftler@sipgate.de>
	balin = Ersin Balin <balin@sipgate.de>
	uhlig = Sven Uhlig <uhlig@sipgate.de>
	zemla = Stefanie Zemla <zemla@sipgate.de>
	limbeck = Thilko Limbeck <limbeck@sipgate.de>
	kuecuek = Cenk Kuecuek <kuecuek@sipgate.de>
	paterok = Christoph Paterok <paterok@sipgate.de>
	homer = homer <homer@sipgate.de>
	lin = Otto Bo-Shao Lin <lin@sipgate.de>
	kube = Sven Kube <kube@sipgate.de>
	massing = Maximilian Massing <massing@sipgate.de>
	suli = Kristi Suli <suli@sipgate.de>
	vopel = Bjoern Vopel <vopel@sipgate.de>
	driessen = Annika Driessen <driessen@sipgate.de>
	kalkofen = Michael Kalkofen <kalkofen@sipgate.de>
	heginger = Philipp Heginger <heginger@sipgate.de>
	geywitz = Julian Geywitz <geywitz@sipgate.de>
	borzek = David Borzek <borzek@sipgate.de>
	buntrock = Maurice Buntrock <buntrock@sipgate.de>
	weck = Stefan Weck <weck@sipgate.de>
	peitzmeier = Jelena Peitzmeier <peitzmeier@sipgate.de>
	jvogt = Jan Vogt <jvogt@sipgate.de>
	schmitt = Jan Schmitt <schmitt@sipgate.de>
	glock = David Glock <glock@sipgate.de>
	mantwill = Thea Mantwill <mantwill@sipgate.de>
	landgraf = Celina Landgraf <landgraf@sipgate.de>
	erath = Leon Erath <erath@sipgate.de>
	tarp = Andreas Tarp <tarp@sipgate.de>
	schwoerer = Paul Schwoerer <schwoerer@sipgate.de>
	kuse = Leona Kuse <kuse@sipgate.de>
	brinkmann = Hendrik Brinkmann <brinkmann@sipgate.de>
	deppe = Robert Deppe <deppe@sipgate.de>
	altepostvpn = Alte altepostvpn <altepostvpn@sipgate.de>
	piela = Kevin Piela <piela@sipgate.de>
	telinform-stemmler = Dennis Stemmler <telinform-stemmler@sipgate.de>
	telinform-aykurt = Aylin Aykurt <telinform-aykurt@sipgate.de>
	telinform-schmidt = Silvia Schmidt <telinform-schmidt@sipgate.de>
	telinform-sulz = Sabrina Sulz <telinform-sulz@sipgate.de>
	stelling = Isabell Stelling <stelling@sipgate.de>
	edinger = Carina Edinger <edinger@sipgate.de>
	brune = Dora Brune <brune@sipgate.de>
	tegel = Lina Tegel <tegel@sipgate.de>
	horster = Antina Horster <horster@sipgate.de>
	koppers = Tim Koppers <koppers@sipgate.de>
	zhang = Xiaole Zhang <zhang@sipgate.de>
	lenger = Anton Lenger <lenger@sipgate.de>
	konschack = Moritz Konschack <konschack@sipgate.de>
	herzog = Anna Herzog <herzog@sipgate.de>
	hellermann = Jakob Hellermann <hellermann@sipgate.de>
	elter = Bjoern Elter <elter@sipgate.de>
	rode = Arthur Rode <rode@sipgate.de>
	wernecken = Janne Wernecken <wernecken@sipgate.de>
	pietrykowski = Michael Pietrykowski <pietrykowski@sipgate.de>
	knapp = Daniel Knapp <knapp@sipgate.de>
	jenkins-rw = Readwrite Jenkins <jenkins-rw@sipgate.de>
	erdik = Mevluet Erdik <erdik@sipgate.de>
	volkland = Jannik Volkland <volkland@sipgate.de>
	aslam = Noori Aslam <aslam@sipgate.de>
	brell = Juliana Brell <brell@sipgate.de>
	knoll = Maximilian Knoll <knoll@sipgate.de>
	homer-web = homer-web <homer-web@sipgate.de>
	cschneider = Charlotte Schneider <cschneider@sipgate.de>
	bokelmann = Julian Bokelmann <bokelmann@sipgate.de>
	hoevermann = Sarah Hoevermann <hoevermann@sipgate.de>
	bwitte = Bjoern Witte <bwitte@sipgate.de>
	telinform-duif = Marcel Duif <telinform-duif@sipgate.de>
	kalyoncu = Hilda Kalyoncu <kalyoncu@sipgate.de>
	gharagozlou = Tara Gharagozlou <gharagozlou@sipgate.de>
	aust = Theresa Aust <aust@sipgate.de>
	penzel = Steffen Penzel <penzel@sipgate.de>
	reher = Christoph Reher <reher@sipgate.de>
	abuntrock = Alex Buntrock <abuntrock@sipgate.de>
	thoma = Henry Paul Thoma <thoma@sipgate.de>
	schaffert = Steffen Schaffert <schaffert@sipgate.de>
	kunz = Nathalie Kunz <kunz@sipgate.de>
	vargas = Juan Pablo Vargas <vargas@sipgate.de>
	rotmanov = Michael Rotmanov <rotmanov@sipgate.de>
	awad = Benjamin Awad <awad@sipgate.de>
	louven = Philipp Louven <louven@sipgate.de>
	kemper = Nils Kemper <kemper@sipgate.de>
	lansing = Simon Lansing <lansing@sipgate.de>
	tietz = Benjamin Tietz <tietz@sipgate.de>
	schmitz = Luca Schmitz <schmitz@sipgate.de>
	weuthen = Daniel Weuthen <weuthen@sipgate.de>
	vossen = Lisa Vossen <vossen@sipgate.de>
	vikanis = Laura Vikanis <vikanis@sipgate.de>
	telinform-lubberger = Dennis Lubberger <telinform-lubberger@sipgate.de>
	mai = Florian Mai <mai@sipgate.de>
	kilinc = Tamer Kilinc <kilinc@sipgate.de>
	merdan = Nathalie Merdan <merdan@sipgate.de>
	rosam = Lennart Rosam <rosam@sipgate.de>
	mkrause = Mia Krause <mkrause@sipgate.de>
	mwagner = Marcel Wagner <mwagner@sipgate.de>
	almaz = Bedi Almaz <almaz@sipgate.de>
	peters = Marc Peters <peters@sipgate.de>
	oezdemir = Erkan Oezdemir <oezdemir@sipgate.de>
	henzel = David Henzel <henzel@sipgate.de>
	schretter = Markus Schretter <schretter@sipgate.de>
	djundjas = Marina Djundjas <djundjas@sipgate.de>
	foerschler = Florentin Foerschler <foerschler@sipgate.de>
	siffert = Fabian Siffert <siffert@sipgate.de>
	raffel = Caren Raffel <raffel@sipgate.de>
	kruse = Nicola Kruse <kruse@sipgate.de>
	degroot = Rabea de Groot <degroot@sipgate.de>
	schroeder = Robin Dean Schroeder <schroeder@sipgate.de>
	kosmidis = Sandra Kosmidis <kosmidis@sipgate.de>
	ext-botify-gocht = Norbert Gocht <ext-botify-gocht@sipgate.de>
	ext-botify-bublitz = Frank Bublitz <ext-botify-bublitz@sipgate.de>
	lonkay = Patrick Lonkay <lonkay@sipgate.de>
	meyeringh = Richard Meyeringh <meyeringh@sipgate.de>
	boll = Benjamin Boll <boll@sipgate.de>
	oliveira = Cedric Oliveira da Silva Costa <oliveira@sipgate.de>
	escher = Anouk Escher <escher@sipgate.de>
	flohr = Julius Flohr <flohr@sipgate.de>
	neitzert = Jimmy Peter Neitzert <neitzert@sipgate.de>
	sehmer = Malte Sehmer <sehmer@sipgate.de>
	kiparra = Philip Kiparra <kiparra@sipgate.de>
	goertz = Sebastian Goertz <goertz@sipgate.de>
	mielke = Daniel Mielke <mielke@sipgate.de>
	quante = Janina Quante <quante@sipgate.de>
	samtmann = Aileen Samtmann <samtmann@sipgate.de>
	telinform-much = Valentin Much <telinform-much@sipgate.de>
	ext-satellite-granig = Andreas Granig <ext-satellite-granig@sipgate.de>
	caulfield = Jennifer Caulfield <caulfield@sipgate.de>
	rainer = Alena Rainer <rainer@sipgate.de>
	woempner = Johanne Woempner <woempner@sipgate.de>
	rlehmann = Rene Lehmann <rlehmann@sipgate.de>
	goezcan = Gizem Oezcan <goezcan@sipgate.de>
	kuschinsky = Christine Kuschinsky <kuschinsky@sipgate.de>
	buntenkoetter = Antonio Buntenkoetter <buntenkoetter@sipgate.de>
	otto = Miriam Otto <otto@sipgate.de>
	tvossen = Tobias Vossen <tvossen@sipgate.de>
	ratkowski = Sebastian Ratkowski <ratkowski@sipgate.de>
	vogelskamp = Sam Vogelskamp <vogelskamp@sipgate.de>
	rothhausen = Jana Rothhausen <rothhausen@sipgate.de>
	platen = Dominic Platen <platen@sipgate.de>
	thees = Philipp Maurice Thees <thees@sipgate.de>
	wiele = Jan Wiele <wiele@sipgate.de>
	koepp = Ingo Koepp <koepp@sipgate.de>
	eising = Matthis Eising <eising@sipgate.de>
	andre = Esther Andre <andre@sipgate.de>
	oppitz = Daniel Oppitz <oppitz@sipgate.de>
	cactibot = cacti DBUser <cactibot@sipgate.de>
	beckmann = Tobias Beckmann <beckmann@sipgate.de>
	ngo = Thao Ngo <ngo@sipgate.de>
	welter = Sara Welter <welter@sipgate.de>
	telco-inspector-service-e2e-test = Login Testuser <telco-inspector-service-e2e-test@sipgate.de>
	gassenmeier = Claudia Gassenmeier <gassenmeier@sipgate.de>
	froemberg = Marvin Froemberg <froemberg@sipgate.de>
	kosolapova = Iuliia Kosolapova <kosolapova@sipgate.de>
	karacuban = Harun Karacuban <karacuban@sipgate.de>
	icinga-jenkins-build-only = Icinga to Jenkins Build Only <icinga-jenkins-build-only@sipgate.de>
	telinform-hammou = Nadia Hammou <telinform-hammou@sipgate.de>
	telinform-kirsz = Mateusz Kirsz <telinform-kirsz@sipgate.de>
	hageboeck = Hanna Hageboeck <hageboeck@sipgate.de>
	idda = Charlie Idda <idda@sipgate.de>
	seeger = Jan Seeger <seeger@sipgate.de>
	jerusalem = Florian Jerusalem <jerusalem@sipgate.de>
	berger = Christian Berger <berger@sipgate.de>
	duezguen = Caglar Duezguen <duezguen@sipgate.de>
	kalipp = Birthe Kalipp <kalipp@sipgate.de>
	reck = Nils Reck <reck@sipgate.de>
	hello-winter = Isabel Winter <hello-winter@sipgate.de>
	telinform-lindner = Isabel Lindner <telinform-lindner@sipgate.de>
	telinform-gall = Maxim Gall <telinform-gall@sipgate.de>
	funke = Marit Funke <funke@sipgate.de>
	dakani = Abdulaziz Dakani <dakani@sipgate.de>
	ehscheidt = Ruth Ehscheidt <ehscheidt@sipgate.de>
	wuttke = Dominik Wuttke <wuttke@sipgate.de>
	ext-schmidt = Marco Schmidt <ext-schmidt@sipgate.de>
	ext-bongartz = Mike Bongartz <ext-bongartz@sipgate.de>
	ext-malcic = Mario Malcic <ext-malcic@sipgate.de>
	knaup = Christoph Knaup <knaup@sipgate.de>
	hemmers = Julian Hemmers <hemmers@sipgate.de>
	vanderwill = Luca van der Will <vanderwill@sipgate.de>
	hardering = Daria Hardering <hardering@sipgate.de>
	bethge = Mathias Bethge <bethge@sipgate.de>
	baumann = Nils Alexander Baumann <baumann@sipgate.de>
	hipp = Martin Hipp <hipp@sipgate.de>
	mobers = Robin Mobers <mobers@sipgate.de>
	mirza = Imran Mirza <mirza@sipgate.de>
	ebeling = Johannes Ebeling <ebeling@sipgate.de>
	ext-bichis = unknown unknown <ext-bichis@sipgate.de>
	ext-avram = unknown unknown <ext-avram@sipgate.de>
	gramberg = Anna Gramberg <gramberg@sipgate.de>
	telinform-jacobs = Pascal Jacobs <telinform-jacobs@sipgate.de>
	telinform-vanschoell = Christine vanSchoell <telinform-vanschoell@sipgate.de>
	hello-walter = Nils Walter <hello-walter@sipgate.de>
	gnoss = Alexa Gnoss <gnoss@sipgate.de>
	hummel = Mike Hummel <hummel@sipgate.de>
	hafemann = Frederik Hafemann <hafemann@sipgate.de>
	telinform-mitzkus = Maren Mitzkus <telinform-mitzkus@sipgate.de>
	obecker = Oliver Becker <obecker@sipgate.de>
	vogtland = Bernhard Vogtland <vogtland@sipgate.de>
	bunse = Andreas Bunse <bunse@sipgate.de>
	hering = Ann-Kristin Hering <hering@sipgate.de>
	wedhorn = Hendrik Wedhorn <wedhorn@sipgate.de>
	telinform-vanloock = Jennifer Vanloock <telinform-vanloock@sipgate.de>
	hauber = Marco Hauber <hauber@sipgate.de>
	scheiwe = Daniela Scheiwe <scheiwe@sipgate.de>
	telinform-bachmann = Sandra Bachmann <telinform-bachmann@sipgate.de>
	telinform-mertsch = Jonas Mertsch <telinform-mertsch@sipgate.de>
	telinform-pastoors = Julian Pastoors <telinform-pastoors@sipgate.de>
	telinform-kloos = Sabrina Kloos <telinform-kloos@sipgate.de>
	telinform-wiggers = Katharina Wiggers <telinform-wiggers@sipgate.de>
	telinform-arntzen = Michelle Arntzen <telinform-arntzen@sipgate.de>
	huuk = Christian Huuk <huuk@sipgate.de>
	telinform-huuk = Christian Huuk <telinform-huuk@sipgate.de>
	breucker = Celina Breucker <breucker@sipgate.de>
	hanlon = Lucian Hanlon <hanlon@sipgate.de>
	will = Torsten Will <will@sipgate.de>
	petersen = Marvin Petersen <petersen@sipgate.de>
	telinform-monse = Monique Monse <telinform-monse@sipgate.de>
	telinform-tigler = Elin Tigler <telinform-tigler@sipgate.de>
	stalla = Elijah Stalla <stalla@sipgate.de>
	delara = Alline de Lara <delara@sipgate.de>
	witt = Markus Witt <witt@sipgate.de>
	sperling = Felix Sperling <sperling@sipgate.de>
	ext-sferle = Christian Sferle <ext-sferle@sipgate.de>
	impacx-behl = Jan-Erik Behl <impacx-behl@sipgate.de>
	impacx-mennicke = Marie Mennicke <impacx-mennicke@sipgate.de>
	cmueller = Cedric Mueller <cmueller@sipgate.de>
	stobbe = Niclas Stobbe <stobbe@sipgate.de>
	moraisgoncalves = Pascal Morais Goncalves <moraisgoncalves@sipgate.de>
	telinform-huismann = Matthias Huismann <telinform-huismann@sipgate.de>
	wermke = Patrick Wermke <wermke@sipgate.de>
	mlekow = Daniel Mlekow <mlekow@sipgate.de>
	asteinfort = Anne Steinfort <asteinfort@sipgate.de>
	telinform-skornia = unknown unknown <telinform-skornia@sipgate.de>
	kowalke = Konrad Kowalke <kowalke@sipgate.de>
	schott = Jessica Schott <schott@sipgate.de>
	haedrich = Mathias Haedrich <haedrich@sipgate.de>
	garczorz = Nick Garczorz <garczorz@sipgate.de>
	luu = Hung Luu <luu@sipgate.de>
	dobihal = Sebastian Dobihal <dobihal@sipgate.de>
	jungheim = Caroline Jungheim <jungheim@sipgate.de>
	stedler = Raphael Stedler <stedler@sipgate.de>
	moersener = Malte Moersener <moersener@sipgate.de>
	dittrich = Alexandra Dittrich <dittrich@sipgate.de>
	ferme = Larissa Ferme <ferme@sipgate.de>
	ext-ossel = Ero Ossel <ext-ossel@sipgate.de>
	buchkremer = Nadine Buchkremer <buchkremer@sipgate.de>
	wallek = Maya Wallek <wallek@sipgate.de>
	svietz = Sebastian Vietz <svietz@sipgate.de>
	roedel = Michael Roedel <roedel@sipgate.de>
	rieker = Alicia Rieker <rieker@sipgate.de>
	ext-gerhold = Lukas Gerhold <ext-gerhold@sipgate.de>
	ext-egner = Christof Egner <ext-egner@sipgate.de>
	kollar = Dennis Kollar <kollar@sipgate.de>
	riese = Clara Riese <riese@sipgate.de>
	hassels = Fabian Hassels <hassels@sipgate.de>
	ext-quintern = Fabian Quintern <ext-quintern@sipgate.de>
	ext-giousouf = Nichat Giousouf <ext-giousouf@sipgate.de>
	grimm = Laura Grimm <grimm@sipgate.de>
[team "state"]
	status = enabled
	active-coauthors = Michael Rotmanov <rotmanov@sipgate.de>
[safe]
	directory = /usr/lib/janet/.cache/git__https___github.com_ianthehenry_cmd.git
