// https://yalter.github.io/niri/Configuration:-Introduction

include "input.kdl"
include "keybinds.kdl"
include "output.kdl"
include "overrides.kdl"
include "ui.kdl"
include "workspaces.kdl"

screenshot-path "~/Pictures/Screenshots/%Y-%m-%d %H:%M:%S.png"

spawn-at-startup "awww-daemon"
spawn-at-startup "awww-daemon" "-n" "backdrop"
spawn-at-startup "swayosd-server"
spawn-at-startup "~/.local/share/scripts/launch-waybar"
spawn-sh-at-startup "~/.local/share/scripts/niri_tile_to_n -n3 -x false -xc false"

// TODO
// - screenshot window
// - toggle column for next window
