// https://yalter.github.io/niri/Configuration:-Introduction

include "input.kdl"
include "keybinds.kdl"
include "output.kdl"
include "overrides.kdl"
include "ui.kdl"

screenshot-path "~/Pictures/Screenshots/%Y-%m-%d %H:%M:%S.png"

spawn-at-startup "waybar"
spawn-at-startup "awww-daemon" "-n" "backdrop"
spawn-at-startup "awww-daemon"
spawn-at-startup "swayosd-server"


// TODO
// - screenshot window
// - toggle column for next window
