[colors]
"diff token".underline = false
# "diff removed token" = { bg = "#221111", underline = false }
# "diff added token" = { bg = "#002200", underline = false }

"snapshot".fg = "#00af50"

[templates]
log = 'builtin_log_oneline ++ if((!description || description == "dev\n") && current_working_copy, diff.summary())'
op_log = 'builtin_op_log_oneline'
draft_commit_description = '''
concat(
  coalesce(description, default_commit_description),
  surround(
    "\nJJ: This commit contains the following changes:\n", "",
    indent("JJ:     ", diff.summary()),
  ),
  surround("JJ: \nJJ: ignore-rest\n", "", diff.git())
)
'''

[template-aliases]
# 'commit_timestamp(commit)' = 'commit.author().timestamp()'

'format_short_id(id)' = 'id.shortest(4)'
'format_short_signature(signature)' = 'signature.name()'
'format_short_signature_oneline(signature)' = 'signature.name()'
'format_timestamp(timestamp)' = 'timestamp.ago()'
'format_short_commit_id(id)' = 'if(config("custom.show-commit-id").as_boolean(), id.shortest(4))'
'format_short_operation_id(id)' = 'id.short(8)'

'format_operation_oneline(op)' = '''
separate(" ",
  format_short_operation_id(op.id()), op.time().end().ago(),
  clean_operation_message(op.description().first_line()),
  op.tags(),
) ++ "\n"
'''
'clean_operation_message(msg)' = '''
coalesce(
  if(snapshot, label("snapshot", "snapshot")),
  if(msg.starts_with("abandon commit"), msg.substr(0, 15 + 7)),
  if(msg.starts_with("commit"), msg.substr(0, 7 + 7)),
  if(msg.starts_with("describe commit"), msg.substr(0, 16 + 7)),
  if(msg.starts_with("edit commit"), msg.substr(0, 12 + 7)),
  if(msg.starts_with("split commit"), msg.substr(0, 13 + 7)),
  if(msg.starts_with("squash commits into"), msg.substr(0, 21 + 7)),
  if(msg.starts_with("restore into commit"), msg.substr(0, 20 + 7)),
  if(msg.starts_with("undo: restore to operation"), msg.substr(0, 25 + 8)),
  if(msg.starts_with("restore to operation"), msg.substr(0, 21 + 8)),
  if(msg.starts_with("point bookmark main to commit"), msg.substr(0, 30 + 8)),
  if(msg.starts_with("rebase commit") && msg.len() == 54, msg.substr(0, 14 + 8)),
  msg
)
'''
