theme = "current"

[editor.cursor-shape]
normal = "block"
insert = "bar"
select = "underline"

[editor.statusline]
left = ["mode", "spinner", "file-name", "read-only-indicator", "file-modification-indicator"]
right = ["diagnostics", "register", "position", "file-encoding"]

[editor.lsp]
display-messages = true
display-inlay-hints = false

[editor]
# https://github.com/helix-editor/helix/blob/master/helix-term/src/commands.rs
# https://github.com/LGUG2Z/helix-vim/blob/master/config.toml

[keys.insert]
C-c = "normal_mode"
C-space = "command_palette"
A-ret = "code_action"

[keys.normal]
F8 = "goto_next_diag"
S-F8 = "goto_next_diag"
A-ret = "code_action"

S-h = "jump_backward"
S-left = "jump_backward"
S-l = "jump_forward"
S-right = "jump_forward"

C-j = "shrink_selection"
C-k = "expand_selection"
C-h = "select_prev_sibling"
C-l = "select_next_sibling"
C-space = "command_palette"
C-S-down = "copy_selection_on_next_line"
C-S-up = "copy_selection_on_prev_line"
"," = { w = ":w", q = ":wq", r = [
  ":w",
  ":config-reload",
], "c" = ":config-open", "d" = "keep_primary_selection", "," = "goto_last_accessed_file" }


# vim compatibility
0 = "goto_line_start"
"$" = "goto_line_end"
"^" = "goto_first_nonwhitespace"
G = "goto_file_end"
C = ["extend_to_line_end", "yank_main_selection_to_clipboard", "delete_selection", "insert_mode"]
C-r = "redo"
esc = ["collapse_selection", "keep_primary_selection"]
V = ["select_mode", "extend_to_line_bounds"]
i = ["collapse_selection", "insert_mode"]
# esc = ["collapse_selection", "keep_primary_selection"]
[keys.normal.space]
i = ":toggle-option lsp.display-inlay-hints"


[keys.select]
V = ["normal_mode"]
# v = ["normal_mode", "collapse_selection"]

# vim compatibility
0 = "goto_line_start"
"$" = "goto_line_end"
G = "goto_file_end"
C-r = "redo"
k = ["extend_line_up", "extend_to_line_bounds"]
j = ["extend_line_down", "extend_to_line_bounds"]
esc = ["normal_mode", "collapse_selection", "keep_primary_selection"]

i = "select_textobject_inner"
a = "select_textobject_around"
