# https://github.com/helix-editor/helix/blob/master/languages.toml

[[language]]
name = "bash"
file-types = [
  ".aliases",
  ".env",
  "sh",
  "bash",
  "zsh",
  ".bash_login",
  ".bash_logout",
  ".bash_profile",
  ".bashrc",
  ".profile",
  ".zshenv",
  ".zlogin",
  ".zlogout",
  ".zprofile",
  ".zshrc",
  "APKBUILD",
  "PKGBUILD",
  "eclass",
  "ebuild",
  "bazelrc",
  ".bash_aliases",
]

[language-server.nil]
config.nil.formatting.command = ["nixfmt"]

[[language]]
name = "janet"
scope = "source.janet"
injection-regex = "janet"
file-types = ["cgen", "janet", "jdn"]
shebangs = ["janet"]
roots = ["project.janet"]
comment-token = "#"
indent = { tab-width = 2, unit = "  " }
formatter = { command = "janet-format" }
grammar = "janet-simple"
language-servers = ["janet-lsp"]
auto-format = true

[language-server]
janet-lsp = { command = "janet-lsp", args = [] }
