"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[user]
name = "Jakob Hellermann"
email = "jakob.hellermann@protonmail.com"

[snapshot]
max-new-file-size = "10MiB"

[ui]
default-command = "log"
color = "always"
conflict-marker-style = "git"
movement.edit = true

editor = "nvim"
diff-editor = "diffpatch"
merge-editor = "vscode"
pager = "less -FRX --wordwrap"
# pager = "less -FRXS --wordwrap"

[git]
private-commits = "private"

[remotes.origin]
auto-track-created-bookmarks = '*'

[revsets]
log-graph-prioritize = "coalesce(dev, @)"
log = "log"

[revset-aliases]
# utilities
dev = 'coalesce(bookmarks("dev"), description(exact:"dev\n"))'
empty = 'mutable() & empty() & description("") ~@'
firstconflict = "latest(roots(conflicts()))"
'siblings(x)' = "x-+ ~x"
'siblings' = "siblings(@)"

# simpler to type sometimes
me = "@"
this = "@"
par = "@-"

# classes
private = "description(glob:'private:*')"
hidden = "description(glob:'hidden:*')"

# log presets
log = "present(@) | ancestors((builtin_immutable_heads() | trunk()).. ~ hidden, 4) | present(trunk())"
log-ignore = "none"
log-ui = "present(@) | ancestors(builtin_immutable_heads().. ~ hidden, 12) | present(trunk())"
log-unmerged = "present(@) | ancestors(trunk().. ~ hidden, 2) | present(trunk())"


[template-aliases]
nl = '"\n"'

[merge-tools.gitpatch]
program = "sh"
edit-args = [
  "-c",
  '''
  set -eu
  rm -f "$right/JJ-INSTRUCTIONS"
  git -C "$left" init -q
  git -C "$left" add -A
  git -C "$left" commit -q -m baseline --allow-empty
  mv "$left/.git" "$right"
  git -C "$right" add --intent-to-add -A
  git -C "$right" add -p
  git -C "$right" diff-index --quiet --cached HEAD && { echo "No changes done, aborting split."; exit 1; }
  git -C "$right" commit -q -m split
  git -C "$right" restore . # undo changes in modified files
  git -C "$right" reset .   # undo --intent-to-add
  git -C "$right" clean -q -df # remove untracked files
  ''',
]
merge-args = ["-c", "echo gitpatch cannot be used as a merge tool"]
diff-args = ["-c", "echo gitpatch cannot be used as a diff tool"]
